<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Bookings.ListenerMain"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="URL" value="http://www.spicejet.com/"></parameter>
  <parameter name="Username" value="vivek"></parameter>
  <parameter name="Password" value="1234"></parameter>
<!--   <groups> -->
<!--   	<run> -->
<!--   		<include name="Regression"></include> -->
<!--   	</run> -->
<!--   </groups> -->
  <packages>
    	<package name="OnlineCheckin"></package>
  </packages>
   
    <classes>
    <class name="Bookings.ListenerClass1"></class>
    <class name="Bookings.pmt"></class>
    <class name="Bookings.pmtdp"></class>
      <class name="Bookings.BookHoliday">
      	<methods>
      		<include name="Bookholiday_Destination"></include>
      	</methods>
      </class>
      <class name="Bookings.BookHotel">
      <methods>
      		<exclude name="BookHotel_Checkout"></exclude>
      	</methods>
      </class>
      <class name="Bookings.BookFlight">
       <methods>
      		<exclude name="BookFlight_OneWay.*"></exclude>
      	</methods>
      </class>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
